body {
  background-color: #000000;
  color: #fff5ee;
  font-family: Helvetica;
  opacity: 0.9;
}

header{
  border-bottom: 1px solid #fff5ee;
}

.logo {
  font-size: 50px;
  margin-left: 10px;
  padding-top: 19px;
}

nav a {
  float: right; 
  padding-top: 19px;
  text-decoration:underline;
  font-size:30px;
  padding-right:5px;
}

.name{

}
