body {
  background-color: #000000;
  color: #fff5ee;
  font-family: Helvetica;
opacity:0.9
}

.logo {
  font-size: 50px;
  margin-left: 10px;
  padding-top: 19px;
}

header{
  border-bottom: 1px solid #fff5ee;
  margin-bottom:0;
}

nav a {
color:#fff5ee;
  cursor:pointer;
  float: right; 
  margin: 15px;
  padding-top: 41px;
  text-decoration:underline;
  font-size:22px;
  padding-right:5px;
}

a:link{
  color:#fff5ee
}

a:hover{
  text-decoration: none;
}

a:active{
  color:#00ffff;
}

.name {
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  height: 700px;
  margin: 0px;
  text-align: center;
  position: relative;
}

.pitch {
  font-size: 22px;
  border: 5px solid #000000;
  width: 1195px;
  position: absolute;
  background-color: #000000;
  top: 38%;
  left: 1.5%;
}

.Tmonth {
  color: #fff5ee;
  text-align: center;
  font-size: 22px;
  border: 5px solid #0000;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  background-color: #000000;
}

.advertise {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 30px;
  
}

.advertise figcaption {
  text-align: center;
  font-size: 30px;
  font-family: Helvetica;
  color: #fff5ee;
  padding: 10px;
}

.locations{
  background-image: url("./images/img-locations-background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  height: 650px;
  margin: 0px;
  text-align: center;
  position: relative;
}

.locations h2 {
  font-size: 50px;
  padding: 10px;
}

.locations h3 {
  font-size: 40px;
}

#stores{
  color:#fff5ee;
  background-color: #000000;
  font-family: Helvetica;
  display: inline-block;
  border: 5px solid #000000;
  width: 320px;
 justify-content: space-around;
margin: 10px;
}

#stores p{
  font-size: 25px;
}

.btmpage {
  text-align: center;
  border: 5px solid #000000;
  padding: 10px;
  font-size: 22px;
}

.footer{
  float: left;
  font-size: 22px;
 margin-left: 20px;
}
